<div style="width: 400px; margin: auto;">
  <div *ngIf="currentFile" class="edit-form">
    <h4>File</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentFile.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentFile.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentFile.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentFile.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentFile.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteFile()">
      Delete
    </button>

    <button type="submit" class="badge badge-success" (click)="updateFile()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentFile">
    <br />
    <p>Cannot access this File...</p>
  </div>
</div>
